h1
{
color: rgb(73, 101, 232);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 80px;
border: 25px;
padding: 25px;
}

body
{
background-image: url(Background.jpg);
}